<h1>People search</h1>
<div ng-app="people" ng-controller="SearchController as search" id="generalDiv">
    <div id="searchPart">
        <input type="text" placeholder="Search people" ng-model="search.searchMask" />
        <button ng-click="search.searchPeople()">Search</button>
    </div>
    @*{{search.searchMask}}*@
    <div ng-repeat="man in search.people" id="searchedPeopleResult">
        <img ng-show="man.Photo" ng-src="data:image/jpg;base64,{{man.Photo}}" class="resultImage" />
        <img ng-hide="man.Photo" ng-src="data:image/jpg;base64,{{search.defaultAvatar[0]}}" class="resultImage" />
        @*<img ng-hide="false" ng-src="data:image/jpg;base64,{{search.defaultAvatar[0]}}" class="resultImage" />*@
        <div id="personInfo">
            @*<p ng-show="search.followers.UserId">{{search.followers.UserId}}</p>*@
            <p ng-show="man.UserName">Name: {{man.UserName}}</p>
            <p ng-show="man.Surname">Surname: {{man.Surname}}</p>
            <p ng-show="man.BirthDate!=-1">Birthdate: {{man.BirthDate | date:'medium'}}</p>
            <p ng-show="man.Email">Email: {{man.Email}}</p>
        </div>

        <div id="buttons">
            <button>Messages</button>
            <button ng-hide="search.isShowFollow(man.Id)" ng-click="search.followClick(man.Id)">Follow</button>
            <button ng-show="search.isShowFollow(man.Id)" ng-click="search.unfollowClick(man.Id)">UnFollow</button>
        </div>
    </div>

</div>

@section scripts{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/Views/peopleSearch.js"></script>
}

@section styles{
    <link href="~/Content/peopleSearch.css" rel="stylesheet" />
}