@using System.Web.UI.WebControls
@{
    ViewBag.Title = "Your travels";
}
@section styles
{
    @Styles.Render("~/Content/bootstrap.css")
    <link href="~/Content/travels.css" rel="stylesheet" />
    <link href="~/Content/ammap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
}
@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Views/app.js"></script>
    <script src="~/Scripts/Views/UserProfile/travels.js"></script>
    <script src="~/Scripts/Map/anmap/ammap.js"></script>
    <script src="~/Scripts/Map/anmap/continentsLow.js"></script>
    <script src="~/Scripts/Map/anmap/worldLow.js"></script>
    <script src="~/Scripts/Map/mapDecorator.js"></script>

}


<div ng-app="app" ng-controller="travelController as travelCtrl" ng-init="init('@Model')">

    <div id="mapdiv"></div>

    <a ng-repeat="travel in travels" ng-href="/Post/TravelReports?travelId={{travel.travelId}}">
        <div class="travel">
            <span class="date" id="start-date">{{travel.startDate | date:'yyyy-MM-dd'}}</span>
            <span class="date" id="end-date">{{travel.endDate | date:'yyyy-MM-dd'}}</span>
        </div>
    </a>
</div>


