@{

    ViewBag.Title = "Your travels";
}
@section styles
{
    @Styles.Render("~/Content/bootstrap.css")
}
@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Views/app.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Views/UserProfile/travels.js"></script>
}
<div ng-app="app" ng-controller="travelController" ng-init="init('@Model')">
    <div class="panel" ng-repeat="travel in travels">
        <div class="panel-heading">
            <h3 class="panel-title">{{travel.country}}</h3>
        </div>
        <div class="panel-body">
            <b>From:</b> {{travel.startDate |  date:'yyyy-MM-dd'}}
            <br />
            <b>To:</b> {{travel.endDate |  date:'yyyy-MM-dd'}}
        </div>
    </div>
</div>
