
.editedInput
{
    border-color: rgba(74, 217, 90, 0.8) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.07) inset, 0 0 8px rgba(74, 217, 90, 0.6) !important;
}

.editIcon {
	width: 13px;
	padding-right: 5px;
}

.profileProp {
	display: inline-block;
	min-width: 80px;
	text-align: right;

	margin-bottom: 5px;
	margin-top: 2px;
}

.profileValue {
	display: inline-block;
	min-width: 200px;
}

.saveButton {
	margin-top: 6px;
}

.btnNotActive {
	opacity: 0.3;
}

.userPhoto {
	display: block;
	max-width: 250px;
	max-height: 300px;
}
.photoSelector {
	position: relative;
	overflow: hidden;
	margin: 10px;
}
.photoSelector input.selector {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}

/*
	*** Show confirm that photo was changed***
.confirmPhotoChange {
	-webkit-animation-delay: 1.5s;
	-webkit-animation-name: one;
	-webkit-animation-duration: 6s;
	-webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes one {
	0% {
		-webkit-transform: scale(1);
		opacity: 0;
		display: none;
	}

	25% {
		-webkit-transform: scale(1);
		opacity: 1;
		display: block;
		color: #31a531;
	}

	50% {
		-webkit-transform: scale(1);
		opacity: 1;
		display: block;
		color: #31a531;
	}

	100% {
		-webkit-transform: scale(1);
		opacity: 0;
		display: none;
		-webkit-animation-play-state: paused;
	}
}*/