body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

#mapdiv {
    width: 100%;
    height: 450px;
    position: relative;
    background: url("../../../Images/background/board.jpg") no-repeat center center;
}
