body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

#mapdiv {
    width: 100%;
    /*background-color: #EEEEEE;*/
    height: 600px;
    /*height: auto;*/
    position: relative;
    background: url("../../../Images/background/board.jpg") no-repeat center center;
}

/*TOP MENU*/
#top-menu {
    width: 100%;
    background-color: deeppink;
}

    #top-menu #account-menu {
        margin: 0;
        list-style: none;
        padding: 0;
    }

        #top-menu #account-menu li {
            margin: 5px;
            display: inline-block;
            text-align: center;
        }

        #top-menu #account-menu a {
            padding: .2em .1em;
            text-decoration: none;
            color: white;
        }
