body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
}

#mapdiv {
    width: 100%;
    /*background-color: #EEEEEE;*/
    height: 600px;
    /*height: auto;*/
    position: relative;
    background: url("../../../Images/background/board.jpg") no-repeat center center;
}
