a:hover {
    text-decoration: none !important;
    background-color: transparent !important;
}
.travel {
    background-color: white;
    min-height: 100px;
    margin-top: 15px;
}
.travel:hover {
    cursor: pointer;
    text-decoration: none;
}
.date {
    vertical-align: central;
    font-size: 3em;
}

#end-date {
    float: right;
}