@{
    ViewBag.Title = "Home Page";
}
<div id="greeting-panel">
    <h1>Discover the world with TravelMap!</h1>
    @if (!Request.IsAuthenticated)
    {
        <ul>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "" })</li>
        </ul>
    }
    else
    {
        <br />
        <br />
    }

</div>

<script src="~/Scripts/jquery-2.1.1.min.js"></script>
<script>
    $(document).ready(function () {
        $("#body").css('backgroundRepeat', 'no-repeat');
        $("#body").css('height', $(document).height()-200);
        $("#body").css('backgroundImage', 'url(http://lorempixel.com/' + $("#body").width() + '/' + ($("#body").height()+35) + '/city)');
        $("#greeting-panel").slideDown();
        $("#body").css("background-position", "center");
    });
    
</script>
