@{
    ViewBag.Title = ViewBag.CountryName;
}
@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/Views/app.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/Views/Post/reports.js"></script>
}
@section styles
{
    <link rel="stylesheet" href="~/Content/reports.css" />
}
<div ng-app="app" ng-controller="ReportsController" ng-init="init('@Model')">
    <div class="control-panel">
        <a ng-class="getControlButtonsClass('delete')" class="report-button control-button" ng-click="deleteReport()">-</a>
        <a ng-class="getControlButtonsClass('edit')" class="report-button control-button" style="font-size: 3em; " ng-click="editReport()">&#9998;</a>
        <a ng-class="getControlButtonsClass('add')" class="report-button control-button" ng-click="addReport()">+</a>

    </div>
    <div class="current-report report">
        <div class="report-heading">
            <h3 class="report-title" ng-show="!editMode">{{report.title}}</h3>
        </div>
        <div class="report-body" ng-show="!editMode">
            {{report.text}}
        </div>
        <div class="report-body" v ng-show="!report">No reports</div>

        <div class="report-body" ng-show="editMode">
            <form novalidate>
                Title: <input type="text" ng-model="report.title" /><br />
                Text: <input type="text" ng-required="true" ng-model="report.text" required /><br />

                <button ng-click="saveReport()">Save</button>
                <button ng-click="cancel()">Cancel</button>
            </form>
        </div>

    </div>
    <div class="prev-report report report-button" ng-click="prevReport()" ng-show="!isFirst() && !editMode"><</div>

    <div class="next-report report-button report" ng-click="nextReport()" ng-class="{'pending-delete': item.checked}" ng-show="!isLast() && !editMode">></div>
</div>