@section scripts{

    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/spectrum.js"></script>
    <script src="~/Scripts/spectrumColorpicker.module.js"></script>
    <script src="~/Scripts/spectrumColorpicker.directive.js"></script>
    <script src="~/Scripts/Map/app.js"></script>
}

@section styles{
    <link href="~/Content/spectrum.css" rel="stylesheet" />
}

<div>barada</div>
<div ng-app="colorpickerApp" ng-controller="ColorPickerCtrl" ng-init="color = 'red'">

    <h1 style="color: {{color}}">My Angular spectrum demo</h1>
    {{3+5}}

    <input type="text" name="color" ng-model="color">
    <label id="theTrigger">Click here to open colorpicker</label>

    <spectrum-colorpicker trigger-id="theTrigger"
                          ng-model="color"
                          options="{
    showInput: true,
    showAlpha: true,
    allowEmpty: true,
    showPalette: true,
    palette: [['black', 'white', 'blanchedalmond'],['rgb(255, 128, 0);', 'hsv 100 70 50', 'lightyellow']]
  }">
    </spectrum-colorpicker>

    <br>
    <button ng-click="color='#ffffff'">set color to #ffffff</button>

</div>
