@*<script src="~/Scripts/Map/mapDecorator.js"></script>*@
@section scripts{
    <script src="~/Scripts/Map/anmap/ammap.js"></script>
    <script src="~/Scripts/Map/anmap/continentsLow.js"></script>
    <script src="~/Scripts/Map/anmap/worldLow.js"></script>
    <script src="~/Scripts/Map/mapDecorator.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script src="~/Scripts/Map/popUp.js"></script>

    <script type="text/javascript">
        var userMap=[];
        //var newUserCountry='';
        var userCountries = @Html.Raw(Json.Encode(Model));
        for(var i = 0;i<userCountries.length;i++)
        {
            userMap.push({id: userCountries[i], showAsSelected: true});
        }
        AmMyMaps(userMap);
        //$(".b-popup").show();
    </script>
}

@section styles{
    <link href="~/Content/ammap.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/popUp.css" rel="stylesheet" />

}

<div ng-app="app" ng-controller="PopUpController">
    <div id="mapdiv"></div>
    <!--<div ng-show="currentCountry != null">-->
    <div class="b-popup" ng-show="currentCountry">
        <div class="b-popup-content">
            <h2>Country: {{currentCountry}}</h2>

            <div>
                <div class="travel-panel" ng-repeat="travel in travels">
                    <div class="travel-header">
                        <span class="travel-travel">Travel 1</span>
                        <div class="travel-time">
                            <div class="time-start">start: {{travel.start}}</div>
                            <div class="time-end">end: {{travel.end}}</div>
                        </div>
                    </div>
                    <div class="travel-body">
                        {{travel.message}}
                    </div>

                </div>
            </div>


            <form class="input-form" name="travelForm" ng-controller="travelController as travelCtrl" novalidate>

                (*)From
                <input type="date" ng-model="travelCtrl.travel.start" class="date-input" / required>
                (*)To
                <input type="date" ng-model="travelCtrl.travel.end" class="date-input" / required>
                Message:
                <textarea ng-model="travelCtrl.travel.message" rows="5"></textarea>

                <input type="button" value="Ok" ng-click="travelCtrl.clickOK()" />
                <input type="button" value="Cancel" ng-click="travelCtrl.clickCancel()" />
            </form>

        </div>
    </div>
    @*</div>*@

</div>
